.hide-me{display: none;}
div.calc-forms ul, div.calc-forms ol, div.calc-forms li{
	list-style: none;
	padding:0;
	margin: 0;
}
div.calc-forms li{
	margin-bottom: 5px !important;
}

div.cf-row {
	margin-top: 10px;
	margin-bottom: 0px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	display: block;
	background: #E1E1E1;
	padding: O;
	width: 100%;
}

div.cf-row form:last-child,div.pvc_results {
	float:right;
}
div.cf-row form, div.pvc_results  {
	display: inline-block;
	 width: 47%;
	 padding: 10px;
}
div.cf-row form.single{
	float: none;
}
div.cf-row form#sc_ppd:last-child, div.cf-row form#sc_ppd:last-child img,
div.cf-row form#sc_ppd, div.cf-row form#sc_ppd img,
div.cf-row form#nc_ppd:last-child, div.cf-row form#nc_ppd:last-child img,
div.cf-row form#nc_ppd, div.cf-row form#nc_ppd img
{
	float: none;
	width: 97%;
}
div.cf-row span#ppd.cf-result {
	float: right;
}
.cf-result small.error{
	font-size: 18px; color:red;
}
div.cf-row:after, div.cf-row li:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
div.cf-row legend, .cf-result, div.cf-row div.pvc_results p {
	font-family: 'jubilat', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text' , 'Times New Roman', serif;
	color: #003366;
	font-weight: 600;
	font-size: 40px;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
}
.pvc_results p{
	font-size: 24px !important;
	text-align: left !important ;
}

div.cf-row legend {
	padding-bottom: 5px;
	font-size: 20px;
	border-bottom: 3px double #d1d3d4;
	width: 100%;
	margin-bottom: 6px;
}

div.cf-row label, div.cf-row input[type='text'], div.cf-row select {
    width: 47%;
    display: inline-block;
}
/*Commuted Value Calculator*/
div.cf-row label#presentValueLabel{ width:auto;}

div.cf-row span.radio-bnts{
	width: 50%;
}
div.cf-row span.radio-bnts label{
	width: auto;
}
div.cf-row span.radio-bnts label:last-child{
	float: right;
}

div.cf-row input[type='text'], div.cf-row select {
	float: right;
	padding: 4px;
}
div.cf-row input.input-small{
	width: 24%;
}
div.cf-row span.append{
	float: right;
}

#ui-datepicker-div {
	font-size: 90%;
}

.ll-skin-santiago .ui-widget {
	font-family: Helvetica Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.ll-skin-santiago .ui-datepicker {
	padding: 0;
}

.ll-skin-santiago .ui-widget-content {
	border: none;
	background: #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	box-shadow: 0 1px 3px rgba(0,0,0,.19);
}

.ll-skin-santiago .ui-datepicker-header {
	font-family: "Myriad Pro", sans-serif;
	color: #fff;
	padding: 0;
	border-top: 1px solid #073D69;
	border-bottom: none;
	overflow: hidden;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	background-image: none;
	background-color: #073D69;
}

.ll-skin-santiago .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-title {
	line-height: 2.2em;
	font-weight: normal;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next {
	top: -1px;
	background: #073D69;
	border-radius: 0;
	font-weight: normal;
	border: none;
	height: 2.2em;
	width: 1.4em;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next.ui-state-hover {
	background: #073D69;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev {
	left: 0;
	border-right: 1px solid #073D69;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-next {
	right: 0;
	border-left: 1px solid #073D69;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev span,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next span {
	margin-top: -4px;
	top: 40%;
}

.ll-skin-santiago .ui-icon-circle-triangle-e {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -32px 0;
}

.ll-skin-santiago .ui-icon-circle-triangle-w {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -96px 0;
}

.ll-skin-santiago .ui-datepicker table {
	margin: 0;
}

.ll-skin-santiago .ui-datepicker th {
	padding: .6em 0 .4em;
	text-transform: uppercase;
	color: #bbb;
	font-family: "Myriad Pro";
	font-weight: normal;
	font-size: .8em;
	border-top: 1px solid #e6e6e6;
}

.ll-skin-santiago .ui-datepicker td {
	border: none;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	padding: 0;
}

.ll-skin-santiago td:last-child {
	border-right: 0;
}

.ll-skin-santiago td .ui-state-default {
	background: transparent;
	border: none;
	color: #2b2b2b;
	margin: 0;
	font-family: "Myriad Pro", sans-serif;
	font-weight: normal;
	text-align: center;
}

.ll-skin-santiago .ui-datepicker-calendar .ui-state-hover {
	background: #ededed;
	color: #b2b2b2;
}

.ll-skin-santiago td a.ui-state-active,
.ll-skin-santiago td a.ui-state-active.ui-state-hover {
	color: #fff;

background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background-image: -o-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background-image: -webkit-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
	background-image: linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
}

div.calc-forms label.error{
	font-size: 0.9em;
	width:100%;
	color: rgb(211, 35, 66);
	text-align: right;
}
div.calc-forms input.error{
	background-color: rgba(211, 35, 66,0.2);

}
